.btn {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
}

.btnCenter {
    justify-content: center;
}

.btn>span {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    padding: 11px 16px;
    border-radius: 50px;
    min-width: 68px;
    text-decoration: none;
    cursor: pointer;
}

.btnBlack>span {
    background-color: var(--Accent);
    border: 1px solid var(--Accent);
    color: var(--BG);
}

.btnBlackOut>span {
    border: 1px solid var(--Accent);
    color: var(--Accent);
}

.btnWhiteOut>span {
    background-color: none;
    border: 1px solid var(--BG);
    color: var(--BG);
}

.btnBlack>span:hover {
    background-color: var(--BG);
    color: var(--Accent);
}

.btnWhiteOut>span:hover,
.btnBlackOut>span:hover {
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width:1020px) {
    .btn>span {
        font-size: 14px;
    }
}

@media (max-width:769px) {
    .btn>span {
        font-size: 12px;
    }
}