.btn>span {
    align-items: center;
    border-radius: 50px;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.btnBlack>span {
    background-color: var(--Accent);
    border: 1px solid var(--Accent);
    color: var(--BG);
}

.btnBlackOut>span {
    border: 1px solid var(--Accent);
    color: var(--Accent);
}

.btnWhiteOut>span {
    background-color: none;
    border: 1px solid var(--BG);
    color: var(--BG);
}

.btnBlack>span:hover {
    background-color: var(--BG);
    color: var(--Accent);
}

.btnWhite,
.btnBlackOut>span:hover {
    background-color: rgba(0, 0, 0, .2);
}