.nav {
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 11;
}

.wrapper {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: #fff;
    padding: 4px 24px;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContent>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContent ul {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 0;
    margin-bottom: 0;
}

.navContent li {
    display: inline-block;
    margin-right: 16px;
}

.navContent a {
    cursor: pointer;
    text-decoration: none;
    color: var(--Accent);
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-right: 8px;
}

.marginLeft {
    margin-left: 24px;
}

.focus {
    color: var(--BG) !important;
}