.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 500px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    padding: 34px 0 10px;
}

.card strong {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    color: #312c2c;
}

.card p {
    font-size: 18px;
    color: #555;
    font-weight: 500;
    margin: .5 0;
}