.main {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.main h1 {
    font-size: 50px;
    margin-bottom: 80px;
}

.productsGrid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.productsGrid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

@media (max-width:1069px) {
    .main {
        margin-top: 7rem;
    }
}

@media (max-width:768px) {
    .main h1 {
        font-size: 40px;
    }

    .productsGrid3 {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .productsGrid3>div {
        margin: auto;
    }
}

@media (max-width:450px) {
    .main {
        width: 95%;
    }

    .main h1 {
        font-size: 32px;
    }
}