.section {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}

.number {
    color: #EF896D;
    font-size: 96px;
    font-weight: 400;
    line-height: 1.2;
}

.container p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.title {
    display: flex;
    gap: 0.5rem;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.link {
    color: #EF896D;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}