.main {
    max-width: 1200px;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    padding: 0 5%;
}

.main hr {
    margin: 32px 0;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.left p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: var(--PrimaryHover);
}

.title {
    font-size: 24px !important;
    line-height: 1.1 !important;
    letter-spacing: 0.08px !important;
    font-weight: 500 !important;
    margin-bottom: 16px !important;
}

.subTitle {
    font-size: 16px !important;
    font-weight: bold !important;
}

.confirmationContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.itemsOverview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--OutOfFocus);
    padding: 32px 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--BorderRadius);
}

.item>div {
    display: flex;
    align-items: flex-start;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.itemName {
    font-size: 14px;
    font-weight: 800;
    padding-top: 8px;
    margin: 0;
    padding-right: 16px;
}

.itemTotal {
    font-size: 14px;
    font-weight: 800;
    padding-top: 8px;
    margin: 0;
}

.itemQuantity {
    margin: 0;
    font-size: 14px;
}

.priceOverview {
    border-bottom: 1px solid var(--OutOfFocus);
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.priceOverview>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceOverview .label {
    font-size: 14px;
    font-weight: 600;
}

.priceOverview .value {
    font-size: 14px;
}

.priceOverview .labelBig,
.priceOverview .valueBig {
    font-size: 20px;
    font-weight: bold;
}

.loading {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

/* Loading animation */
@keyframes ldio_yzaezf3dcmj {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio_yzaezf3dcmj div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio_yzaezf3dcmj linear 1s infinite;
    background: #f08a6b;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio_yzaezf3dcmj div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #f08a6b;
}

.ldio_yzaezf3dcmj div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #f08a6b;
}

.loadingio_spinner_spinner_2by998twmg8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio_yzaezf3dcmj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio_yzaezf3dcmj div {
    box-sizing: content-box;
}

@media(max-width:1069px) {
    .main {
        gap: 32px;
        padding: 0 5%;
    }
}

@media(max-width:900px) {
    .main {
        margin-top: 7rem;
    }
}

@media(max-width:769px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
}