.important {
    border: 0;
    border-radius: 8px;
    box-shadow: 0 10px 60px rgba(188, 210, 213, .3);
    -webkit-box-shadow: 0 10px 60px rgba(188, 210, 213, .3);
    -moz-box-shadow: 0 10px 60px rgba(188, 210, 213, .3);
    margin: 0.6em auto 2em;
    max-width: 480px;
    padding: 2em;
}

.important strong {
    text-transform: uppercase;
}

.important p{
    color: var(--Primary);
    font-weight: normal;
}

.important>div {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: .05em;
    font-weight: 300;
}