.bulletList {
    list-style: none;
    font-size: 20px;
    line-height: 190%;
}

.bulletList a {
    text-decoration: none;
    color: var(--MainAccentColor);
    transition: color .1s ease-in-out;
}

.bulletList a:hover {
    color: var(--MainAccentColorHover);
}

.bulletList>li::before {
    content: var(--bullet-list-decoration-unicode);
    margin-right: 4px;
    color: var(--MainAccentColor);
}