.subtitle {
    font-size: 2em;
    margin: 1em 0 0.8em;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2em;
}

@media (max-width:900px) {
    .subtitle {
        font-size: 1.8em;
    }
}

@media (max-width:768px) {
    .subtitle {
        font-size: 1.6em;
    }
}

@media (max-width:450px) {
    .subtitle {
        font-size: 1.4em;
    }
}